:root{
    --primary-color: #000;
}
html, body{
    margin: 0;
    font-family: 'Cinzel', serif;
}
body{
    height: 100vh;
    width: 100%;
    color: #000;
    background-color: #000;
    background-image: url("../assets/debate.png");
    background-size: auto 100%;
    background-position: 25%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.overlay{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgba(000, 000, 000, 0.6);
}
#particles-js{
    height: 100vh;
    width: 100%;
}
div .principal{
    height: auto;
    width: 100%;
    z-index: 100;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);  
}

.principal .logoIntro{
    /* display: flex; */
}
.principal .logoIntro img{
    height: 216px;
    width: 100%;
    position: relative;
    padding: 0px;
    shadow: rgba(255, 255, 255, 0.6);
}
.principal .logoIntro h1{
    color: #fff;
    font-size: 4em;
    font-weight: black;
    text-align: center;
    margin: 0px auto;
    padding: 2px;
}
.principal .logoIntro p{
    font-size: 30px;
    color: rgb(204, 200, 200);
    width: 100%;
    margin-top: -10px;
    text-align: center;
}
.principal .logoIntro hr{
    background-color: #e11b01;
    width:50%;
}
.principal h1{
    margin: 0px;
    color: #e11b01;
    text-align: center;
    font-size: 30px;
}

.bottom{
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: -30px;
}
.bottom p{
    font-size: 18px;
    color: #fff;
    margin: 0px;
    text-align: center;
}
.bottom p span{
    font-size: 18px;
    color: #ff1e00;
    font-weight: regular;
}